.ProjectsPointerContainer {
    position: fixed;

    width: 100vw;
    height: 100vh;

    left: 0;
    top: 0;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    pointer-events: none;

}


.fadeIn {
    animation-duration: 10s;
    animation-name: fadeIn;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


.Background {
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    pointer-events: all;

    animation: floating 2s ease-in-out infinite, fadeIn 1s ease-in;


}