.ClickableButton {
    text-decoration: none;
    color: rgba(81, 52, 175, 0.8);
    transition: all 0.3s ease-in-out;
}

.ClickableButton:hover {
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}

.LandingSection {

}

.PersonalDetailsContainer {

}

.Title {

}

.Subtitle {

}





.ProjectsSection {

}

