.backgroundBlurOverlay {
    background-color: rgba(0, 0, 0, 0.05);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    backdrop-filter: blur(100px);
}

.backgroundFloatingObjects,
.floatingObject1,
.floatingObject2 {
    width: 100%;
    height: 100vh;
    z-index: -3;
    position: absolute;
}

.floatingObject1 {
    width: 150px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    top: 5%;
    left: 5%;
}

.floatingObject2 {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    top: 50%;
    left: 50%;
}

.contentArea {
    padding: 50px;
    padding-inline: 200px;
    height: 100vh;
}

.pdNameH1 {
    font-size: 5rem;
    font-family: 'Arial';
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.socialLinksTitle,
.skillsTitle {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

.socialLinksArea div,
.skillsArea div {
    width: 400px;
}

.socialLinksArea {
    margin-top: 25px;
}

.skillsArea {
    margin-top: 25px;
}

.clickableButton {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-family: 'Arial';
    transition: all 0.5s ease;
}
.clickableButton:hover {

    color: rgb(48, 87, 186);
    text-shadow: 0 0 2px yellow;

    transition: all 0.5s ease;
}

@media (max-width: 768px) {
    .contentArea {
        padding: 25px;
    }

    .pdNameH1 {
        font-size: 2rem;
    }

    .socialLinksTitle,
    .skillsTitle {
        font-size: 2rem;
    }

    .socialLinksArea div,
    .skillsArea div {
        width: 100%;
    }

    .floatingObject1,
    .floatingObject2 {
        display: none;
        /* Hide floating objects on smaller screens */
    }
}

.slideInLeft {
    animation: slideInFromLeft 1.25s ease;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideInTop {
    animation: slideInFromTop 1.5s ease;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}